//Base styles (we add .extra-styles on top of this)
@import "../../components/contactCard/ContactCard.scss";

.extra-styles {
    .card {
        img {
            order: 1;
        }
        &__right-side {
            order: 0;
        }
        // For the moment let's hide buttons
        // This needs a better logic when we have the CMS data
        &__button-desktablet, &__button-mobile {
            display: none;
        }
    }
};