//Breakpoints and sass-mq
@import "../../index.scss";

.status-order {
    &__description {
        max-width: 607px;
        margin-top: 16px;
    }
    &__heading {
        font-size: 25px;
        line-height: 136%;
        max-width: 293px;
        letter-spacing: -0.0042em;
        color: #111111;
    }
    &__btn {
        margin-top: 24px;
    }
    @include mq($until: tablet) {
        &__description {
            min-width: 334px;
        }
         &__heading {
             width: 250px;
             font-size: 18px;
             line-height: 144.4%;
            }
        }
        h1 {
            font-size: 25px;
            letter-spacing: -0.42px;
            line-height: 136%;
        }
    };

